.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.navbar {
  background-color: var(--secondary);
}

img {
  max-width: 100%;
}

/* Map styles */
#map {
  height: 600px;
}
.map-legend {
  background-color: #eeeeeee6;
  padding: 0.5rem 0.7rem;
}
.map-legend-color {
  height: 10px;
  width: 10px;
  display: inline-block !important;
  margin-right: 0.2rem;
}
.map-legend-text {
}

/* Charts styles */
.chart-title {
  font-size: 1.4rem;
}
.chart-subtitle {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--gray) !important;
  font-weight: 600;
}

/* Slider styles */
.vue-slider-process {
  background-color: var(--primary);
}
.vue-slider-dot-tooltip-inner {
  border-color: var(--primary);
  background-color: var(--primary);
}

/* Fix bootstrap styles */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
